body{
    margin:0;
}

.upper{
    padding: 20px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: blue;
}
.link:hover{
    
    background-color: rgba(0, 255, 255, 0.255);
}

img{
    width:400px;
    display: block;
    margin: 20px 0;
}

form> label , form> input{
    display: block;
    margin-bottom: 10px;
}
